<nav class="navbar">
    <div class="navbar-brand">
        <a href="/">Vastrakart</a>
    </div>
    <button class="navbar-toggler" id="navbarToggler">
        <i class="fas fa-bars"></i>
        </button>

    <ul class="navbar-nav" id="navbarMenu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <% if (user) { %>
            <% if (user.role === 'store_owner') { %>
                <li><a href="/stores/add">Add Store</a></li>
            <% } %>
            <li><span>Welcome, <%= user.username %>!</span></li>
            <li><a href="/auth/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/signup">Sign Up</a></li>
        <% } %>
    </ul>
</nav>